.todo-container {
  text-align: center;
  padding: 20px;
}

.input-section input {
  padding: 10px;
  width: 60%;
}

.input-section button {
  padding: 10px;
  margin-left: 10px;
}

.task-list {
  list-style: none;
  padding: 0;
}
.task-list li.completed span {
  text-decoration: line-through;
  color: gray;
}
.task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.task-list button {
  background-color: red;
  color: white;
  border: none;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
}